<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- <div th:replace="fragments/header :: head"></div> -->
<head>
    <th:block th:include="fragments/header :: head"></th:block>

    <title>Baza wiedzy</title>
</head>
<body>
<th:block th:replace="fragments/header :: header('kbase')"></th:block>

<div class="container">

    <h3>Baza wiedzy - wyniki wyszukiwania</h3>
    <div class="alert alert-danger" th:if="${#lists.isEmpty(articles)}">
        Brak wyników wyszukiwania!
    </div>
    <table th:if="${not #lists.isEmpty(articles)}" class="table table-condensed">
        <thead>
        <tr>
            <th>Nazwa artykułu</th>
            <th sec:authorize="hasAuthority('ADMIN')" ></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" article : ${articles}">
            <td th:text="${article.title}"></td>
            <td>
            <a class="btn btn-info" role="button" th:href="${'/article?id='+article.id}">Podgląd</a>
            </td>
            <td sec:authorize="hasAuthority('ADMIN')" ><a th:href="${'/editArticle?id='+article.id}" class="btn btn-warning" role="button">Edycja</a></td>
            <td sec:authorize="hasAuthority('ADMIN')" ><a th:href="${'/deleteArticle?id='+article.id}" class="btn btn-danger" role="button">Usuń</a></td>
        </tr>
        </tbody>
    </table>
    <a href="/knowledgeBase" class="btn btn-warning" role="button">Powrót</a>
</div>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>