<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <div th:replace="fragments/header :: head"></div> -->
<head>
    <th:block th:include="fragments/header :: head"></th:block>

    <title>Strona główna</title>
</head>
<body>
<th:block th:replace="fragments/header :: header('index')"></th:block>

<div class="container">
    <div class="alert alert-success" th:if="${saveTicketSuccess}">
        <strong>Informacja: </strong> Artykuł został zapisany poprawnie!
    </div>
    <div class="alert alert-success" th:if="${saveArticleSuccess}">
        <strong>Informacja: </strong> Artykuł został zapisany poprawnie!
    </div>
    <div class="alert alert-success" th:if="${saveCategorySuccess}">
        <strong>Informacja: </strong> Kategoria została zapisana poprawnie!
    </div>
    <div class="alert alert-info" th:if="${logoutSuccess}">
        <strong>Informacja: </strong> Zostałeś wylogowany z serwisu!
    </div>
    <div class="alert alert-success" th:if="${loginSuccess}">
        <strong>Informacja: </strong> Zostałeś poprawnie zalogowany!
    </div>
    <div class="alert alert-success" th:if="${registerSuccess}">
        <strong>Informacja: </strong> Zostałeś poprawnie zarejestrowany!
    </div>
    <div class="jumbotron">
        <h2>HelpDesk System</h2>
        <p>System pozwala na tworzenie nowych zgłoszeń do działu obsługi, podgląd swoich zgłoszeń oraz umożliwia
            przeglądanie bazy wiedzy. Wystarczy się zarejestrować!</p>
    </div>
    <h3>Statystyki</h3>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Wartość</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Liczba artykułów w bazie wiedzy</td>
            <td th:text="${articleCounter}"></td>
        </tr>
        <tr>
            <td>Liczba zgłoszeń</td>
            <td th:text="${ticketsAll}"></td>
        </tr>
        <tr>
            <td>Liczba zgłoszeń otwartych</td>
            <td th:text="${ticketsOpen}"></td>
        </tr>
        <tr>
            <td>Liczba zgłoszeń zamkniętych</td>
            <td th:text="${ticketsClosed}"></td>
        </tr>
        </tbody>
    </table>
    <div align="right">Nie widać danych? <a href="/" class="btn btn-warning" role="button">Odśwież stronę</a></div>
</div>

<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>