<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- <div th:replace="fragments/header :: head"></div> -->
<head>
    <th:block th:include="fragments/header :: head"></th:block>

    <title>System zgłoszeń</title>
</head>
<body>
<th:block th:replace="fragments/header :: header('managetickets')"></th:block>

<div class="container">
    <h3>System zgłoszeń - moje zgłoszenia</h3>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Temat</th>
            <th>Data dodania</th>
            <th>Status</th>
            <td>Kto założył</td>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:class="${ticket.status == 1}? 'danger' : 'success'" th:each=" ticket : ${tickets}">
            <td th:text="${ticket.subject}"></td>
            <td th:text="${ticket.createdDate}"></td>
            <td th:text="${ticket.status == 1}? 'Otwarte' : 'Zamknięte'"></td>
            <td><span th:text="${ticket.user.firstname}"></span> <span th:text="${ticket.user.lastname}"></span> </td>
            <td>
                <a class="btn btn-info" role="button" th:href="${'/ticket?id='+ticket.id}">Szczegóły</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>