<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- <div th:replace="fragments/header :: head"></div> -->
<head>
    <th:block th:include="fragments/header :: head"></th:block>

    <title>System zgłoszeń</title>
</head>
<body>
    <th:block th:replace="fragments/header :: header('managetickets')"></th:block>

<div class="container">
    <h3>Zgłoszenie nr <span th:text="${ticket.id}"></span> - szczegóły</h3>
    <h4 th:if="${ticket.status.id} == '1'"><span class="label label-success">OTWARTE</span></h4>
    <h4 th:if="${ticket.status.id} == '2'"><span class="label label-danger">ZAMKNIĘTE</span></h4>
    <h3><b>Tytuł:</b> <span th:text="${ticket.subject}"></span></h3>
    <blockquote>
        <h5><b>Treść zgłoszenia:</b></h5>
        <p th:text="${ticket.content}"></p>
    </blockquote>
    <h4><b>Dyskusja</b></h4>
    <div class="panel panel-default" th:each=" comment : ${comments}">
        <div class="panel-body"><p th:text="${comment.content}"></p></div>
        <div class="panel-footer"><h6><b>Dodany przez</b> <span th:text="${comment.user.firstname}"></span> <span th:text="${comment.user.lastname}"></span>
            <span th:text="${comment.createdDate}"></span></h6></div>
    </div>
    <button th:if="${ticket.status.id} == '1'" class="btn btn-primary" data-toggle="collapse" data-target="#commentForm">Dodaj komentarz</button>
    <br/>
    <br/>
    <div th:if="${ticket.status.id} == '1'" id="commentForm" class="collapse">
        <form class="form-horizontal" th:action="@{/ticketDetails}" method="post">
            <div class="form-group">
                <label for="content">Treść odpowiedzi</label>
                <textarea class="form-control" id="content" name="content" rows="6" width="50%"/>
            </div>
            <input type="hidden" id="ticketId" name="ticketId" th:value="${ticket.id}"/>
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </form>
        <br/>
    </div>
    <form class="form-horizontal" th:action="@{/changeTicketStatusByAdmin}" method="post">
        <input type="hidden" id="ticketId" name="ticketId" th:value="${ticket.id}"/>
        <input type="hidden" id="currentStatus" name="currentStatus" th:value="${ticket.status.id}"/>
            <button th:if="${ticket.status.id} == '1'" type="submit" class="btn btn-primary">Zamknij zgłoszenie</button>
            <button th:if="${ticket.status.id} == '2'" type="submit" class="btn btn-primary">Otwórz zgłoszenie</button><br/>
            <label for="sendMail">Czy wysłać powiadomienie email?</label>
            <select class="form-control" id="sendMail" name="sendMail" style="width: 20%;">
                <option value="0">Nie</option>
                <option value="1" th:selected="true">Tak</option>
            </select>
    </form>
    <br/>
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageTickets" class="btn btn-primary" role="button">Powrót do listy</a>
</div>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>