<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- <div th:replace="fragments/header :: head"></div> -->
<head>
    <th:block th:include="fragments/header :: head"></th:block>

    <title>System zgłoszeń</title>
</head>
<body>
    <th:block th:replace="fragments/header :: header('managetickets')"></th:block>

<div class="container">
    <h3>Zgłoszenie - szczegóły</h3>
    <h3 th:text="${ticket.subject}"></h3>
    <blockquote>
        <p th:text="${ticket.content}"></p>
    </blockquote>
    <h4>Dyskusja</h4>
    <div th:each=" comment : ${comments}">
        <p th:text="${comment.content}"></p>
        <h6>Dodany przez <span th:text="${comment.user.firstname}"></span> <span th:text="${comment.user.lastname}"></span>
            <span th:text="${comment.createdDate}"></span></h6>
    </div>
    <button th:if="${ticket.status} == '1'" class="btn btn-default" data-toggle="collapse" data-target="#commentForm">Dodaj komentarz</button>
    <br/>
    <br/>
    <div th:if="${ticket.status} == '1'" id="commentForm" class="collapse">
        <form class="form-horizontal" th:action="@{/ticketDetails}" method="post">
            <div class="form-group">
                <label for="content">Treść odpowiedzi</label>
                <textarea class="form-control" id="content" name="content" rows="6" width="50%"/>
            </div>
            <input type="hidden" id="ticketId" name="ticketId" th:value="${ticket.id}"/>
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </form>
    </div>
    <br/>
    <form class="form-horizontal" th:action="@{/changeTicketStatusByAdmin}" method="post">
        <input type="hidden" id="ticketId" name="ticketId" th:value="${ticket.id}"/>
        <input type="hidden" id="currentStatus" name="currentStatus" th:value="${ticket.status}"/>
        <button th:if="${ticket.status} == '1'" type="submit" class="btn btn-success">Zamknij zgłoszenie</button>
        <button th:if="${ticket.status} == '2'" type="submit" class="btn btn-danger">Otwórz zgłoszenie</button>
    </form>
    <br/>
    <a sec:authorize="hasAuthority('ADMIN')" href="/manageTickets" class="btn btn-warning" role="button">Powrót do listy</a>
</div>
<th:block th:replace="fragments/footer :: footer"></th:block>
</body>
</html>