<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-inverse" style="margin-bottom:0px; border-radius:0px;" th:fragment="header(activeTab)">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">HelpDesk</a>
        </div>
        <ul class="nav navbar-nav">
            <li th:class="${activeTab == 'index'}? 'active' : null"><a href="/">Główna</a></li>
            <li sec:authorize="isAuthenticated()" th:class="${activeTab == 'addticket' || activeTab == 'mytickets'}? 'dropdown active' : 'dropdown'">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Zgłoszenia <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li th:class="${activeTab == 'addticket'}? 'active' : null"><a href="/addTicket">Dodaj zgłoszenie</a></li>
                    <li th:class="${activeTab == 'mytickets'}? 'active' : null"><a href="/myTickets">Moje zgłoszenia</a></li>
                </ul>
            </li>
            <li th:class="${activeTab == 'kbase'}? 'active' : null"><a href="/knowledgeBase">Baza wiedzy</a></li>
            <li sec:authorize="hasAuthority('ADMIN')" th:class="${activeTab == 'addArticle' || activeTab == 'managetickets' || activeTab == 'categories'}? 'dropdown active' : 'dropdown'"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Administrator <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li th:class="${activeTab == 'addArticle'}? 'active' : null"><a href="/addArticle">Dodaj artykuł do bazy wiedzy</a></li>
                    <li th:class="${activeTab == 'categories'}? 'active' : null"><a href="/categories">Zarządzanie kategoriami artykułów</a></li>
                    <li th:class="${activeTab == 'managetickets'}? 'active' : null"><a href="/manageTickets">Zarządzanie zgłoszeniami</a></li>

                </ul>
            </li>
        </ul>
        <div  sec:authorize="!isAuthenticated()">
        <ul class="nav navbar-nav navbar-right">
            <li th:class="${activeTab == 'register'}? 'active' : null"><a href="/register"><span class="glyphicon glyphicon-user"></span> Rejestracja</a></li>
            <li th:class="${activeTab == 'login'}? 'active' : null"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Zaloguj</a></li>
        </ul>
        </div>
        <div sec:authorize="isAuthenticated()">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>
                <span sec:authentication="name"></span></a></li>
            <li><a href="javascript: document.logoutForm.submit()"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a></li>
            <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                <input type="submit" style="height: 0px; width: 0px; border: none; padding: 0px;" hidefocus="true" value="Sign Out"/>
            </form>
        </ul>
        </div>
    </div>
</nav>

</body>
</html>